<html>
  <head>
	<meta lang="ja">
	<meta charset="utf-8"/>
	<script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-orbit-controls@1.2.0/dist/aframe-orbit-controls.min.js"></script>
	<link rel="icon" href="https://2block.oberk.dev/favicon.ico" />
	<link rel="author" href="humans.txt"/>
	<link rel="stylesheet" href="output.css">
	<title>2block 凸 Gear</title>
  </head>
<body>

	<div class="fixed text-4xl" style="z-index: 1000;">
		<span>
			2block 凸 Gear
		</span>
	</div>


	<div class="fixed bottom-10 left-10" style="z-index: 1000;">
		<a href="https://2block.oberk.dev/pillar">
			<button 
			class="text-5xl rounded-xl border-4 border-indigo-600"
			style="background: hsl(48, 100%, 67%)"
			>
				塩ビ図
			</button>
		</a>
		<a href="https://2block.oberk.dev/view">
			<button 
			class="text-5xl rounded-xl border-4 border-indigo-600"
			style="background: hsl(48, 100%, 67%)"
			>
				全体図→
			</button>
		</a>
		<a href="https://2block.oberk.dev/view/mesure">
			<button 
			class="text-5xl rounded-xl border-4 border-indigo-600"
			style="background: hsl(48, 100%, 67%)"
			>
				寸法図
			</button>
		</a>
		<a href="https://2block.oberk.dev/view/number">
			<button 
			class="text-5xl rounded-xl border-4 border-indigo-600"
			style="background: hsl(48, 100%, 67%)"
			>
				部品番号図
			</button>
		</a>
	</div>


	<a-scene  vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
		<a-assets>
			<a-asset-item id="deco" src="gear.glb"></a-asset-item>
		</a-assets>
		
		<a-entity camera look-controls orbit-controls="target: 0 1.6 -0.5; maxPolarAngle:180; minDistance: 0.5; maxDistance: 200; initialPosition: 0 0 30"></a-entity>
		<a-entity gltf-model="#deco" position="0 -10 0" shadow="receive: true" scale="2 2 2"></a-entity>
  	  	<a-sky color="#9EA1E7"></a-sky>
  	</a-scene>
</body>
</html>
